# Variables para Docker Local
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=dev_user
DB_PASSWORD=dev_password
DB_NAME=control_accesos_db
DB_SSL=false

TZ=UTC

# Conexión Directa a Supabase PostgreSQL
DB_HOST=tu_host_de_direct_connection (ej: db.sgcmkdkmdt....supabase.co)
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_contraseña_de_supabase
DB_NAME=postgres
DB_SSL=true

